In [1]:
!pip install gensim

Requirement already satisfied: gensim in c:\users\bmaj3\appdata\local\programs\python\python310\lib\site-packages (4.3.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\bmaj3\appdata\local\programs\python\python310\lib\site-packages (from gensim) (1.23.5)
Requirement already satisfied: scipy>=1.7.0 in c:\users\bmaj3\appdata\local\programs\python\python310\lib\site-packages (from gensim) (1.10.1)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\bmaj3\appdata\local\programs\python\python310\lib\site-packages (from gensim) (6.3.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import gensim
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix
from sklearn.decomposition import TruncatedSVD

In [2]:
text = pd.read_csv("IMDB Dataset.csv")

In [3]:
text.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
text["review_clean"] = text["review"].apply(lambda x: gensim.utils.simple_preprocess(x))
text.head()

,review,sentiment,review_clean
0,One of the other reviewers has mentioned that ...,positive,"[one, of, the, other, reviewers, has, mentione..."
1,A wonderful little production. <br /><br />The...,positive,"[wonderful, little, production, br, br, the, f..."
2,I thought this was a wonderful way to spend ti...,positive,"[thought, this, was, wonderful, way, to, spend..."
3,Basically there's a family where a little boy ...,negative,"[basically, there, family, where, little, boy,..."
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,"[petter, mattei, love, in, the, time, of, mone..."

In [5]:
clean_text = text[["review_clean"]]
labels = text["sentiment"]

In [6]:
len(clean_text)

50000

In [7]:
corpus = []
for review in clean_text["review_clean"]:
  corpus.append(" ".join(review))

In [8]:
len(corpus)

50000

In [9]:
clean_text["corpus"] = corpus

C:\Users\bmaj3\AppData\Local\Temp\ipykernel_6160\1042297266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_text["corpus"] = corpus

In [10]:
len(clean_text)

50000

In [11]:
clean_text

,review_clean,corpus
0,"[one, of, the, other, reviewers, has, mentione...",one of the other reviewers has mentioned that ...
1,"[wonderful, little, production, br, br, the, f...",wonderful little production br br the filming ...
2,"[thought, this, was, wonderful, way, to, spend...",thought this was wonderful way to spend time o...
3,"[basically, there, family, where, little, boy,...",basically there family where little boy jake t...
4,"[petter, mattei, love, in, the, time, of, mone...",petter mattei love in the time of money is vis...
...,...,...
49995,"[thought, this, movie, did, down, right, good,...",thought this movie did down right good job it ...
49996,"[bad, plot, bad, dialogue, bad, acting, idioti...",bad plot bad dialogue bad acting idiotic direc...
49997,"[am, catholic, taught, in, parochial, elementa...",am catholic taught in parochial elementary sch...
49998,"[going, to, have, to, disagree, with, the, pre...",going to have to disagree with the previous co...
49999,"[no, one, expects, the, star, trek, movies, to...",no one expects the star trek movies to be high...

In [28]:
X_train, X_test, y_train, y_test = train_test_split(clean_text, 
                                                    labels, 
                                                    test_size=0.30, 
                                                    random_state=42)

In [29]:
tfidf_vect = TfidfVectorizer(max_features = 20000, ngram_range = (1,2) )
X_train_tfidf = tfidf_vect.fit_transform(X_train["corpus"])
X_test_tfidf = tfidf_vect.transform(X_test["corpus"])

In [30]:
svd = TruncatedSVD(n_components = 2000, n_iter=7, random_state=42)
X_train_reduced = svd.fit_transform(X_train_tfidf)
X_test_reduced = svd.transform(X_test_tfidf)

In [31]:
print(sum(svd.explained_variance_))

0.4523164557189412

In [32]:
X_train_tfidf_df = pd.DataFrame(X_train_reduced, index = X_train.index, columns = [i for i in range(501, 2501)])
X_test_tfidf_df = pd.DataFrame(X_test_reduced, index = X_test.index, columns = [i for i in range(501, 2501)])

In [33]:
w2v_model = gensim.models.Word2Vec(X_train["review_clean"],
                                   vector_size=500,
                                   window=5,
                                   min_count=2)

In [34]:
words = set(w2v_model.wv.index_to_key)
X_train_vect = np.array([np.array([w2v_model.wv[i] for i in ls if i in words]) for ls in X_train["review_clean"]], dtype = "object")
X_test_vect = np.array([np.array([w2v_model.wv[i] for i in ls if i in words]) for ls in X_test["review_clean"]], dtype = "object")

MemoryError: Unable to allocate 854. KiB for an array with shape (437, 500) and data type float32

In [ ]:
# Compute sentence vectors by averaging the word vectors for the words contained in the sentence
X_train_vect_avg = []
for v in X_train_vect:
    if v.size:
        X_train_vect_avg.append(v.mean(axis=0))
    else:
        X_train_vect_avg.append(np.zeros(100, dtype=float))
        
X_test_vect_avg = []
for v in X_test_vect:
    if v.size:
        X_test_vect_avg.append(v.mean(axis=0))
    else:
        X_test_vect_avg.append(np.zeros(100, dtype=float))

In [ ]:
X_train_df = pd.DataFrame(X_train_vect_avg, index = X_train.index)
X_test_df = pd.DataFrame(X_test_vect_avg, index = X_test.index)

In [ ]:
X_train = pd.concat([X_train_df, X_train_tfidf_df], axis = 1)
X_test = pd.concat([X_test_df, X_test_tfidf_df], axis = 1)

In [ ]:
X_train.to_csv("X_train.csv",index = False)
X_test.to_csv("X_test.csv",index = False)
y_train.to_csv("y_train.csv", index = False)
y_test.to_csv("y_test.csv",index = False)

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
mlp_clf = MLPClassifier(random_state=1, 
                        max_iter=300, 
                        verbose = True, 
                        learning_rate = "adaptive",
                        hidden_layer_sizes= (500,))

In [ ]:
mlp_clf.fit(X_train, y_train)

Iteration 1, loss = 0.38749930
Iteration 2, loss = 0.24658916
Iteration 3, loss = 0.21293549
Iteration 4, loss = 0.19014922
Iteration 5, loss = 0.18375236
Iteration 6, loss = 0.17566792
Iteration 7, loss = 0.17123731
Iteration 8, loss = 0.15795378
Iteration 9, loss = 0.14428965
Iteration 10, loss = 0.13428781
Iteration 11, loss = 0.12434926
Iteration 12, loss = 0.10714290
Iteration 13, loss = 0.09331174
Iteration 14, loss = 0.07875423
Iteration 15, loss = 0.06747858
Iteration 16, loss = 0.05472088
Iteration 17, loss = 0.04251535
Iteration 18, loss = 0.03487007
Iteration 19, loss = 0.02673709
Iteration 20, loss = 0.02108592
Iteration 21, loss = 0.01785871
Iteration 22, loss = 0.01459899
Iteration 23, loss = 0.01259750
Iteration 24, loss = 0.01107103
Iteration 25, loss = 0.00982784
Iteration 26, loss = 0.00915641
Iteration 27, loss = 0.00831672
Iteration 28, loss = 0.00793759
Iteration 29, loss = 0.00753967
Iteration 30, loss = 0.00724232
Iteration 31, loss = 0.00723625
Iteration 32, loss = 0.00683685
Iteration 33, loss = 0.00684559
Iteration 34, loss = 0.00616529
Iteration 35, loss = 0.00586670
Iteration 36, loss = 0.00574581
Iteration 37, loss = 0.00556967
Iteration 38, loss = 0.00543493
Iteration 39, loss = 0.00530517
Iteration 40, loss = 0.00517365
Iteration 41, loss = 0.00508136
Iteration 42, loss = 0.00495521
Iteration 43, loss = 0.00485418
Iteration 44, loss = 0.00475820
Iteration 45, loss = 0.00469594
Iteration 46, loss = 0.06809047
Iteration 47, loss = 0.02997722
Iteration 48, loss = 0.01277895
Iteration 49, loss = 0.00954284
Iteration 50, loss = 0.00847449
Iteration 51, loss = 0.00780906
Iteration 52, loss = 0.00732613
Iteration 53, loss = 0.00693942
Iteration 54, loss = 0.00659824
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(500,), learning_rate='adaptive', max_iter=300,
              random_state=1, verbose=True)

In [ ]:
y_predict = mlp_clf.predict(X_test)

In [ ]:
print(accuracy_score(y_test, y_predict))

0.8988666666666667

tfidf - 20,000 max features, unigrams and bigrams. SVD reduction to 2000 features, over 7 iterations. 
word2vec - 300 length vectors, averaged. 
90.16% accuracy on MLP with one hidden layer with 500 neurons.